*
{
    margin: 0;
    padding: 0;
    
}
header
{
    background-image:url(hotel1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}








body
{
    
    font-family: monospace;
    
}



.hero
{
    position: absolute;
    height: 20px;
    margin-left: 0px;
    margin-top: 0px;
}





.dh4
{
 text-transform: uppercase;
 color: lightgoldenrodyellow;
 font-size: 50px;
 text-align: center;
 margin-top: 20px;
 margin-left: 400px;
}

.d2h4
{
    color: white;
    font-size: 20px;
    text-align:center;
    margin-top: 60px;
    margin-left: 400px;
}


h1
{
 text-transform: uppercase;
 color: darkgray;
 font-size: 70px;
 text-align: center;
 margin-top: 230px;
}




.button-one
{
    margin-top: 80px;
    margin-left: 580px;
}

.btnd
{
    border: 1px solid white;
    padding: 10px 30px;
    color:red;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
    text-transform: uppercase;
    
}

